:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-image: url('../src/Images/background.jpg');
}

body {
  margin: 0;
  min-height: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding: 1rem;
}

a {
  color: white;
}

main {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  color: black;
}

main ul {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  border: 0.09rem solid rgb(207, 207, 206);
  border-radius: 3rem;
  background-color: teal;
  margin: 2rem 5rem;
}

main p {
  text-align: justify;
  margin: 1rem;
}

.showCard {
  /* height: 40vh; */
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* height: 68rem; */
  align-items: center;
  background-color: teal;
  border-radius: 5rem;
  margin: 0.5rem 0;
}

.showDescription:hover {
  background-color: grey;
}

.featured {
  display: grid;
  grid-template-columns: 100%;
  background-color: teal;
  border-radius: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* height: 68rem; */
  text-align: center;
  align-items: center;
  margin: 0 0rem;
  padding: 1rem 0;
}

.showDetails {
  background-color: teal;
  border-radius: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 1rem;
}
.showDetails p {
  margin: 0 5rem;
}

.showDetails ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.featured li {
  list-style: none;
}

@media (min-width: 1024px) {
  main ul {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
  }

  .featured {
    margin: 0 10rem;
  }
  h1 {
    margin: 2rem 20rem;
  }
  .showDetails {
    margin: 0 7rem;
  }
  .showDetails p {
    margin: 0.5rem 5rem;
  }
}
